models/*
mix_models/*
pilot/models/*
stan_files/*.exe
single_participant_modeling/models/*
single_participant_modeling/stan_files/*
!single_participant_modeling/stan_files/*.stan
single_participant_modeling/*.DS_Store
pilot/.DS_Store
